@import "../../styles/partials/mixins";

.footer {
  position: relative;
  color: $white;
  overflow: hidden;

  .background-circle {
    background-color: $secondary-color;
    width: 100vw;
    height: 10rem;
    clip-path: ellipse(60% 100% at 50% 0%);
    transform: rotate(180deg);
  }

  .background-content {
    background-color: $secondary-color;
    margin-top: -2px;
    padding: 8rem 0.5rem 20rem;
    display: flex;
    text-align: center;
    justify-content: center;

    p {
      margin-top: 1rem;
      font-weight: 300;
    }

    a {
      background-color: transparent;
    }
  }

  .subfooter {
    @include before(320px, 0px);
    position: relative;
    display: flex;
    background-color: $secondary-color;
    justify-content: space-between;
    padding: 1rem 7%;
    z-index: 1;

    @include devices(large_tablet) {
      flex-direction: column;
      align-items: center;
    }

    .socials {
      z-index: 2;

      @include devices(large_tablet) {
        margin-bottom: 0.7rem;
      }

      ul {
        display: flex;
        align-items: center;
        height: 100%;

        li:not(:last-child) {
          margin-right: 2rem;
        }

        img {
          transition: transform 0.2s ease-in-out;
        }

        a:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .legals {
      z-index: 2;

      ul {
        display: flex;
        align-items: center;
        height: 100%;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;

        @include devices(large_tablet) {
          flex-direction: column;
        }

        li:not(:last-child) {
          margin-right: 2rem;

          @include devices(large_tablet) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }

        a {
          opacity: 0.7;
          transition: opacity 0.2s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .logo-wrapper {
      position: absolute;
      bottom: -15rem;
      left: -25rem;
      z-index: 1;

      @include devices(large_tablet) {
        transform: scale(0.7);
        bottom: -11rem;
        left: -32rem;
      }
    }
  }
}
