@import "../../../styles/partials/mixins";

.snackbar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  z-index: $zindex-menu + 1;

  &.success {
    background-color: #4caf50;
  }

  &.error {
    background-color: #f44336;
  }

  .button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
  }
}
