@import "../../styles/partials/mixins";

.section-text {
  .content-wrapper {
    padding: 3rem;
    max-width: 86rem;
    margin: auto;

    .text-wrapper {
      @include default-content-style();
    }
  }
}
