@import "./variables";
@import "./functions";

// ----- MEDIA QUERIES ----- //

@mixin devices($breakpoint) {
  @if $breakpoint == min_large_screen {
    @media only screen and (min-width: $min_large_screen) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint == large_tablet {
    @media only screen and (max-width: $large_tablet) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
}

// ----- SIZES ----- //

@mixin fluid-font($min-font-size, $max-font-size, $min-vw: $mobile, $max-vw: $desktop) {
  // Source : https://gist.github.com/mvsde/7c66cdde4308ed155f53f7002433254c
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

// ----- PSEUDO ELEMENTS ----- //

@mixin before($width: 1rem, $height: $width) {
  &:before {
    content: "";
    width: $width;
    height: $height;

    @content;
  }
}

@mixin after($width: 1rem, $height: $width) {
  &:after {
    content: "";
    width: $width;
    height: $height;

    @content;
  }
}

// ----- COMPONENTS ----- //

@mixin button() {
  --font-size: 18px;
  --duration: 0.44s;
  --move-hover: -4px;
  --font-shadow: var(--font-size);

  display: inline-block;
  padding: 1.3rem 5rem;
  border-radius: 50px;
  border: 1px solid $white;
  background-color: $primary-color;
  color: $white;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  font-size: var(--font-size);
  cursor: pointer;

  div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-shadow) 0 $white;
    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      transition: transform var(--duration) ease;
      transform: translateY(var(--m)) translateZ(0);
      $i: 1;
      @while $i < 12 {
        &:nth-child(#{$i}) {
          transition-delay: $i / 20 + s;
        }
        $i: $i + 1;
      }
    }
  }

  &:hover {
    --y: var(--move-hover);
    span {
      --m: calc(var(--font-size) * -1);
    }
  }
}

@mixin underline($width: 40%, $height: 2.5rem, $has_animation: false, $delay: 0s) {
  @include after($width, $height) {
    position: absolute;
    background-color: $accent-color;
    z-index: -1;
    border-radius: 1px;

    @content;

    @if $has_animation {
      @include underline-animation($delay);
    }
  }
}

@mixin hover-underline($width: 100%, $height: 1px, $offset: -3px, $color: $primary-color) {
  position: relative;

  @include after($width, $height) {
    position: absolute;
    top: auto;
    bottom: $offset;
    right: 0;
    left: 0;
    background-color: $color;
    transition: transform 0.3s ease;
    transform-origin: left;
  }

  &:hover {
    &:after {
      transform: scaleX(0);
    }
  }
}

// @mixin hover-highlight($height: 2.3rem, $offset: 5px) {
//   position: relative;
//   text-decoration: underline;
//   text-underline-offset: $offset;

//   @include underline(100%, $height) {
//     transform: scaleX(0);
//     transform-origin: left;
//     right: 0;
//     top: auto;
//     bottom: -2px;
//     transition: transform 0.3s ease;
//   }

//   &:hover {
//     &:after {
//       transform: scaleX(1);
//     }
//   }
// }

@mixin border($width: 5px, $color: $secondary-color, $radius: 15px) {
  border: $width solid $color;
  border-radius: $radius;
}

// ----- ANIMATIONS ----- //

@mixin underline-animation($delay) {
  animation: underline-enter 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: $delay;
  transform-origin: left;

  @keyframes underline-enter {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}

@mixin title-fade-in-up($delay: 0s) {
  overflow: hidden;

  span {
    display: inline-block;
    transform: translateY(100%);
    animation: title-fade-in 0.6s cubic-bezier(0.63, 0.5, 0.62, 1.2) forwards;
    animation-delay: $delay;
  }

  @keyframes title-fade-in {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// ----- TOOLS ----- //

@mixin hidden() {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
