//////////////////////
// Colors
//////////////////////

$black: #000;
$white: #fff;

$secondary-color: #011d57;
$primary-color: $secondary-color;
$accent-color: #5bf9ad;
$cta-color: #e879f9;
$background-color: $white;

$blue-light: #f2f7fc;
$danger-color: #ff00008a;

$gray200: #f7f9fa;
$gray400: #89a6c1;
$gray500: #6d869e;
$gray700: #4e657b;
$gray800: black;

//////////////////////
// Sizes
//////////////////////

$max-width: 150rem;
$max-content: calc($max-width - 20rem);
$border-radius: 15px;

// Fonts sizes
$font-size-h1: 90px;
$font-size-h2: 60px;
$font-size-h3: 40px;
$font-size-body: 18px;

// Screen sizes
$min_large_screen: 1500px;
$desktop: 1499px;
$laptop: 1269px;
$large_tablet: 1023px;
$tablet: 767px;
$mobile: 479px;

//////////////////////
// Menu
//////////////////////

$menu-desktop-height: 8.6rem;
$menu-mobile-height: 6.5rem;
$scroll-menu-desktop-height: $menu-mobile-height;
$zindex-menu: 700;
