@import "../../styles/partials/mixins";

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 5%;
  max-width: 25rem;

  @include devices(large_tablet) {
    margin: 3rem 5%;
  }

  .service-text {
    @include fluid-font(16px, $font-size-body);
    text-align: center;
  }
}
