@import "../../../styles/partials/mixins";

.section-categories {
  position: relative;
  color: $white;
  overflow: hidden;

  .background-circle {
    background-color: $primary-color;
    width: 100vw;
    height: 10rem;
    clip-path: ellipse(60% 100% at 50% 0%);
    transform: rotate(180deg);
  }

  .background-content {
    background-color: $primary-color;
    margin-top: -2px;
    padding: 5rem 0.5rem 12rem;
    display: flex;
    text-align: center;
    justify-content: center;

    .content {
      width: 70%;
      margin: auto;
      max-width: 75rem;

      @include devices(large_tablet) {
        width: 80%;
      }

      ul {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;

        @include devices(large_tablet) {
          flex-direction: column;
          align-items: center;
        }

        li {
          position: relative;
          opacity: 0.8;
          cursor: pointer;
          transition: opacity 0.35s ease;

          @include after(100%, 1px) {
            position: absolute;
            top: auto;
            bottom: -3px;
            right: 0;
            left: 0;
            background-color: $white;
            transition: transform 0.3s ease;
            transform-origin: left;
            transform: scaleX(0);
          }

          &:hover {
            opacity: 1;
          }

          &.active {
            opacity: 1;

            &::after {
              transform: scaleX(1);
            }
          }

          @include devices(large_tablet) {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
