@import "../../../../../styles//partials//mixins";

.section-content {
  .main-image-wrapper {
    @include wrapper-image-fill(100rem, 50rem) {
      @include devices(large_tablet) {
        @include size(100%, 25rem);
      }
    }
    border-radius: $border-radius;
    margin: 10rem auto;

    @include devices(large_tablet) {
      border-radius: 0;
      margin: 3rem auto 5rem;
    }
  }

  .image-wrapper {
    @include wrapper-image-fill(80rem, 50rem, true) {
      @include devices(large_tablet) {
        @include size(90%, 40vh);
        max-width: 60rem;
        max-height: 50rem;
      }
    }
    margin: 5rem auto;

    img {
      border-radius: $border-radius;
    }
  }

  .text-wrapper {
    @include default-content-style();
    max-width: 86rem;
    margin: auto;

    @include devices(large_tablet) {
      padding: 0 3rem;
    }
  }

  .infos-wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 86rem;
    margin: 7rem auto 10rem;

    @include devices(large_tablet) {
      padding: 0 3rem;
      margin: 7rem auto 0;
    }
  }
}
