@import "../../../styles/partials/mixins";

.section-faq {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-content - 50rem;
    margin: 0 1rem;
    padding: 13rem 0;
    border-radius: $border-radius;

    h2 {
      position: relative;
      text-align: center;
      margin: 0 2rem 3rem;

      @include underline(55%, 2.4rem) {
        right: -27px;
        top: auto;
        bottom: 4px;

        @include devices(large_tablet) {
          height: 1.8rem;
          right: -17px;
          bottom: 2px;
        }
      }
    }

    .faq-wrapper {
      margin-top: 5rem;
    }
  }
}
