@import "../../styles/partials/mixins";

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-wrapper {
    @include border();
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-content;
    margin: 15rem 1rem;

    @include devices(large_tablet) {
      margin: 8rem 1rem;
    }

    .title-wrapper {
      @include title-wrapper();
      margin: 7rem 2rem 3rem;

      h2 {
        position: relative;
        text-align: center;

        @include underline(55%, 2.4rem) {
          right: -27px;
          top: auto;
          bottom: 4px;

          @include devices(large_tablet) {
            height: 1.8rem;
            right: -17px;
            bottom: 2px;
          }
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      margin: 5rem 0 13rem;

      @include devices(large_tablet) {
        margin: 3rem 0 7rem;
      }

      @include devices(large_tablet) {
        flex-direction: column;
      }

      .left-content,
      .right-content {
        display: flex;
        justify-content: center;
        width: 50%;

        @include devices(large_tablet) {
          width: 100%;
        }
      }

      .image {
        @include size(30rem);
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid $secondary-color;

        @include devices(large_tablet) {
          @include size(25rem);
        }

        img {
          width: auto !important;
        }
      }

      .text-wrapper {
        margin: 0 6rem 0 3rem;

        @include devices(large_tablet) {
          max-width: 70rem;
          margin: 5rem 3rem 0;
        }

        .text {
          p {
            @include fluid-font(16px, $font-size-body);
            margin-bottom: 2rem;
          }

          a {
            @include hover-underline();
          }
        }
      }
    }

    .cta {
      @include devices(large_tablet) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
