@import "./mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $primary-color;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: $primary-color;
  color: $white;

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: $max-width;

    .links {
      display: flex;
      align-items: center;
      list-style: none;
      font-weight: 500;

      li {
        display: inline-block;
        margin: 0 3rem;

        //  TODO : Animation à changer : sliding underline entre les éléments
        a:hover:before,
        &.current a:before {
          opacity: 1;
          width: 100%;
        }

        a {
          @include fluid-font(12px, 18px);
          position: relative;
          padding: 1rem 0;

          &:before {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            height: 2px;
            width: 0%;
            background-color: $white;
            transition: all 0.35s ease;
          }
        }
      }
    }
  }
}

section {
  h1 {
    @include fluid-font(60px, $font-size-h1);
  }

  h2 {
    @include fluid-font(35px, $font-size-h2);
  }

  p {
    @include fluid-font(12px, $font-size-body);
  }
}
