@import "../../styles/partials/mixins";

.social {
  @include size(5rem);
  display: grid;
  place-items: center;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  img {
    @include devices(large_tablet) {
      transform: scale(1.5);
    }
  }
}
