@import "../../../styles/partials/mixins";

.item-post {
  width: calc(100% / 3);
  padding: 0 2rem;
  margin-bottom: 7rem;

  @include devices(large_tablet) {
    width: 50%;
  }

  @include devices(tablet) {
    width: 100%;
  }

  &.fullwidth {
    width: 100%;
    margin: 0 0 10rem 0;

    .item-post-content {
      max-width: 80rem;
      margin: auto;

      .image-wrapper {
        @include wrapper-image-fill(100%, 54rem, true) {
          @include devices(large_tablet) {
            @include size(100%, 28rem);
          }
        }
      }
    }
  }

  a {
    &:hover {
      .item-post-content {
        background-color: $blue-light;
        box-shadow: 0 0 10px $gray300;

        .image-wrapper {
          &,
          img {
            border-radius: $border-radius $border-radius 0 0;
          }
        }
      }
    }

    &:focus-visible .item-post-content {
      outline: 4px solid $accent-color;
    }

    .item-post-content {
      height: 100%;
      border-radius: $border-radius;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      .image-wrapper {
        @include wrapper-image-fill(100%, 28rem, true);
        transition: border-radius 0.3s ease-in-out;

        &,
        img {
          border-radius: $border-radius;
        }
      }

      .item-post-text {
        display: block;
        padding: 2rem 1rem;

        h3 {
          font-size: 22px;
          margin-bottom: 1rem;
        }

        .date {
          font-size: 13px;
          margin-bottom: 1rem;
          font-weight: 300;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}
