@import "../../styles/partials/mixins";

.gravity-button {
  --tx: 0px;
  --ty: 0px;
  --opacity: 0.25;

  display: grid;
  place-items: center;
  transition: all 0.2s ease-out;

  @media only screen and (min-width: $large_tablet) {
    transform: translate(var(--tx, 0), var(--ty, 0));
  }
}
