@import "../../../styles/partials/mixins";

.quinconce {
  width: 100%;
  padding: 10rem 0;

  &.even {
    background-color: $primary-color;
    color: $white;

    .content-wrapper {
      flex-direction: row-reverse;

      @include devices(large_tablet) {
        flex-direction: column;
      }
    }
  }

  &:last-child {
    padding-bottom: 15rem;
  }

  @include devices(large_tablet) {
    padding: 5rem 0 1.5rem;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-content;
    margin: auto;

    @include devices(large_tablet) {
      flex-direction: column;
    }
  }

  .image-content {
    width: 50%;
    display: flex;
    justify-content: center;

    @include devices(large_tablet) {
      width: 100%;
    }

    .image-wrapper {
      @include size(40rem);
      position: relative;
      border-radius: 50%;
      overflow: hidden;

      @include devices(large_tablet) {
        @include size(25rem);
      }

      img {
        width: auto !important;
        left: 50% !important;
        transform: translateX(-50%);
      }
    }
  }

  .text-content {
    display: flex;
    justify-content: center;
    width: 50%;

    @include devices(large_tablet) {
      width: 100%;
    }

    .text-wrapper {
      max-width: 55rem;
      padding: 3.5rem;

      @include devices(large_tablet) {
        width: 100%;
        padding: 5rem 2.5rem 3.5rem;
      }

      h2 {
        @include fluid-font(24px, $font-size-h3);
        margin-bottom: 2rem;
      }

      p,
      ul {
        margin-bottom: 2rem;
      }

      ul {
        padding-left: 4rem;

        li {
          list-style: disc;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
