@import "../../../styles/global/mixins";

.section-services {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $max-content;
    padding: 13rem 0;

    @include devices(large_tablet) {
      padding: 6rem 0;
    }
  }

  .services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services-cta {
    display: flex;
    justify-content: center;
  }
}
