@import "../../styles/partials/mixins";

.section-title {
  @include size(100%, calc(100vh - $menu-desktop-height));
  display: flex;
  justify-content: center;
  align-items: center;

  @include devices(large_tablet) {
    @include size(100%, calc(90vh - $menu-mobile-height));
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $menu-desktop-height;
    width: 100%;
    max-width: 100rem;

    @include devices(large_tablet) {
      margin-top: $menu-mobile-height;

      .image-wrapper {
        display: flex;
        justify-content: center;

        img {
          width: 80%;
          height: auto;
        }
      }
    }

    .title-wrapper {
      overflow: hidden;
      display: flex;
      justify-content: center;
      margin-top: -1.4rem;
      width: 100%;
    }

    h1 {
      @include title-fade-in-up();
      position: relative;
      text-align: center;
      line-height: 1.4; // Allows you to see accents on special characters

      &.has-decoration {
        @include underline(65%, 2.9rem, true, 0.5s) {
          right: -27px;
          top: auto;
          bottom: 27px;

          @include devices(large_tablet) {
            height: 2.5rem;
            right: -17px;
            bottom: 13px;
          }
        }
      }

      &.is-long-title {
        @include fluid-font(45px, $font-size-h1);
        line-height: 1;
        margin-top: 1rem;
      }
    }

    .baseline-wrapper {
      overflow: hidden;
      display: flex;
      justify-content: center;
      margin-top: -1.4rem;
      width: 100%;
      height: 2.8rem;

      .baseline {
        @include title-fade-in-up(0.3s, 150%);
        position: relative;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;

        @include devices(large_tablet) {
          font-size: 16px;
        }

        @include underline(52%, 1.6rem, true, 1s) {
          right: -12px;
          top: auto;
          bottom: 0;

          @include devices(large_tablet) {
            height: 1.2rem;
            right: -12px;
            bottom: 6px;
          }
        }
      }
    }
  }
}
