@import "../../styles/partials/mixins";

.section-title {
  @include size(100%, calc(100vh - $menu-desktop-height));
  display: flex;
  justify-content: center;
  align-items: center;

  @include devices(large_tablet) {
    @include size(100%, calc(90vh - $menu-mobile-height));
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $menu-desktop-height;

    @include devices(large_tablet) {
      margin-top: $menu-mobile-height;

      .image-wrapper {
        display: flex;
        justify-content: center;

        img {
          width: 80%;
          height: auto;
        }
      }
    }

    h1 {
      @include title-fade-in-up();
      position: relative;
      text-align: center;
      line-height: 1.4;
      margin-top: -1.4rem;

      &.has_decoration {
        @include underline(65%, 2.9rem, true, 0.5s) {
          right: -27px;
          top: auto;
          bottom: 20px;

          @include devices(large_tablet) {
            height: 2.5rem;
            right: -17px;
            bottom: 10px;
          }
        }
      }
    }

    .baseline {
      @include title-fade-in-up(0.3s);
      position: relative;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: -1.4rem;

      @include devices(large_tablet) {
        font-size: 16px;
      }

      @include underline(52%, 1.6rem, true, 1s) {
        right: -12px;
        top: auto;
        bottom: -4px;

        @include devices(large_tablet) {
          height: 1.3rem;
          right: -16px;
        }
      }
    }
  }
}
